// ******   colours   ******

$SuperLightBlue: #dcf3f8;
$LightBlue: #40bad5;
$MediumBlue: #035aa6;
$DarkBlue: #001646;
$SuperDarkBlue:#061c2a;
$lightGrey:#eee;
$MidGrey: #777;
$White:#fff;
$Black:black;

// ******   grid   ******


$max-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter:6rem;
